
  <main>
    <h1>
      Team Generator
    </h1>
    <ul class="list-of-teams">
     <!-- dynamically rendered with structural directives-->
      <li *ngFor="let member of members">{{member}}</li>
      <p *ngIf="errorMessage" 
      class="error">{{errorMessage}}</p>
    </ul>
    <div class="labels">
      <div>
    <label htmlFor="inputNameTeams">Name:</label>
    <input 
    #inputNameTeams
    type="text" placeholder="Team Member"
    (input)="onInput(inputNameTeams.value)"
    [value]="newMemberName"
    />
    <button (click)="addMember()">Add</button>
  </div>
  <div>
    <label htmlFor="inputNumbTeams">Number of members in teams:</label>
    <input id="inputNumbTeams" type="text" placeholder="#"/>
    <button>Generate</button>
  </div>
  
  </div>

  </main>
