
  <main>
    <h1>
      Team Generator
    </h1>
    <ul class="list-of-teams">
      <li>Hej</li>
      <li>Test</li>
      <li>List items</li>
    </ul>
    <div class="labels">
      <div>
    <label htmlFor="inputNameTeams">Name:</label>
    <input 
    #inputNameTeams
    type="text" placeholder="Team Name"
    (input)="onInput(inputNameTeams.value)"
    />
    <button (click)="addMember()">Add</button>
  </div>
  <div>
    <label htmlFor="inputNumbTeams">Number of teams:</label>
    <input id="inputNumbTeams" type="text" placeholder="#"/>
    <button>Generate</button>
  </div>
  </div>
 
  </main>
